@reference "tailwindcss";

.banner {
    @apply grid gap-3 overflow-x-auto;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    grid-template-rows: 140px;
}


@media only screen and (max-width: 1090px) {
    .banner {
        grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
        
    }
    
}

@media only screen and (max-width: 690px ) {
    .banner {
        grid-template-columns: repeat(3, minmax(165px ,1fr)) ;
        @apply overflow-x-auto
    }
    
}

.favorite {
    @apply w-12 h-12 overflow-hidden bg-[#32333b] fixed z-20 bottom-7 right-3 rounded-full cursor-pointer;
}

.favorite__icon {
    @apply w-full h-full flex justify-center items-center;
}